body{  
  background-image: url("../images/hacker.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: lightblue;
}

p{
	color:red;
}

#header{
	background-color: yellow;
	width: 100px;
	float: left;
}

#footer{
	clear: both;
	background-color: green;
	width: 100%;
	float: bottom;
}